In [5]:
import pandas as pd
technologies={
    'courses':["Python","DBMS","Java","Python","AI/ML"],
    'Fee':[20000,25000,26000,22000,24000],
    'Duration':['30days','40days','35days','60days','30days'],
    'Discount':[1000,2300,1200,2500,2000]
    }
df=pd.DataFrame(technologies)
print(df)

  courses    Fee Duration  Discount
0  Python  20000   30days      1000
1    DBMS  25000   40days      2300
2    Java  26000   35days      1200
3  Python  22000   60days      2500
4   AI/ML  24000   30days      2000

df.group('courses').aggregate({'Duration':'count','Fee':
                        ['first','last']}

In [7]:
df.group('courses').aggregate({'Duration':'count','Fee': ['first','last']}

SyntaxError: incomplete input (687872074.py, line 2)

In [9]:
df.groupby('courses').agg({'Duration':'count','Fee':['first','last']})

        Duration    Fee
           count  first   last
courses
AI/ML          1  24000  24000
DBMS           1  25000  25000
Java           1  26000  26000
Python         2  20000  22000

In [10]:
df.groupby('courses').aggregate({'Fee':'count'})

         Fee
courses
AI/ML      1
DBMS       1
Java       1
Python     2